<div class="container">
  <form [formGroup]="cmsUserForm" class="user-details-form">
    <div style="margin-top: 15px; margin-left: 448px;">

      <button style="margin-left: 20px; background-color: rgb(53, 91, 182); margin-bottom: 20px;" type="button"
      routerLink="/AddAddress">Add New Address </button>
      <button style="margin-left: 20px; background-color: rgb(48, 137, 110); margin-bottom: 20px;" type="button">Add New Academic Info</button>
    </div>

    <h3 style="margin-top: -12px;">Basic Information:</h3>
    <div class="basic-info-box">
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" id="userName" formControlName="userName" readonly>
      </div>
      <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" id="mobileNumber" formControlName="mobileNumber" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" readonly>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" readonly>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" id="gender" formControlName="gender" readonly>
      </div>
    </div>
    <button style="background-color: rgb(56, 150, 159)" type="button" (click)="toggleAddresses()">Edit Basic
      Info</button>
    <div class="form-group" *ngIf="showAddresses">
      <h3>Addresses:</h3>
      <div formArrayName="addresses">
        <div *ngFor="let address of addresses.controls; let i=index" class="address" [formGroupName]="i">
          <h4>Address {{ i + 1 }}</h4>
          <div class="form-group">
            <label for="addressType">Address Type:</label>
            <input type="text" id="addressType" formControlName="addressType" readonly>
          </div>
          <div class="form-group">
            <label for="division">Division:</label>
            <input type="text" formControlName="divisionName" readonly>
          </div>
          <div class="form-group">
            <label for="district">District:</label>
            <input type="text" formControlName="districtName" readonly>
          </div>
          <div class="form-group">
            <label for="upazila">Upazila:</label>
            <input type="text" formControlName="upazilaName" readonly>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="showAcademicInfos">
      <h3>Academic Infos:</h3>
      <div formArrayName="academicInfos">
        <div *ngFor="let academicInfo of academicInfos.controls; let i=index" class="academic-info" [formGroupName]="i">
          <h4>Academic Info {{ i + 1 }}</h4>
          <div class="form-group">
            <label for="academicLevel">Academic Level:</label>
            <input type="text" formControlName="academicLevel" readonly>
          </div>
          <div class="form-group">
            <label for="grade">Grade:</label>
            <input type="text" formControlName="grade" readonly>
          </div>
          <div class="form-group">
            <label for="academicClass">Academic Class:</label>
            <input type="text" formControlName="academicClass" readonly>
          </div>
          <!-- Display subjects -->
          <div formArrayName="subjects">
            <div *ngFor="let subject of academicInfo.get('subjects')?.value; let j=index" class="subject">
              <h5>Subject {{ j + 1 }}</h5>
              <input type="text" [value]="subject" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div>
    <button style="margin-top: 20px; background-color: rgb(25, 120, 96)" type="button" (click)="toggleAddresses()">
      Addresses</button>
    <button style="margin-left: 20px; background-color: rgb(36, 152, 135); margin-bottom: 20px;" type="button"
      (click)="toggleAcademicInfos()">Academic Infos</button>
      <button style="margin-left: 20px; background-color: rgb(59, 78, 184)" type="button" (click)="toggleAddresses()">Edit
        Addresses</button>
    <button style="margin-left: 20px; background-color: rgb(47, 94, 165); margin-bottom: 20px;" type="button"
      (click)="toggleAcademicInfos()">Edit Academic Infos</button>
  </div>

</div>