<div class="container">
    <h1>Registration Form</h1>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" id="userName" name="userName" formControlName="userName" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password" />
        </div>

        <div class="form-group">
            <label for="name">FullName:</label>
            <input type="text" id="name" name="name" formControlName="name" />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="mobileNumber">Mobile Number:</label>
            <input type="text" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber" />
        </div>

        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" formControlName="gender">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

