<br><br><br>
<div class="container">
        <button style=" margin-left: -1px;" class="add-new-item" routerLink="/AddAddress" matTooltip="Add New Item"><i class="fas fa-plus-circle"></i> Add New Item</button>
    <br><br>
    <h2>Address List</h2>
    <div class="filter-section" *ngIf="!removeFlag">
        <div>
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" placeholder="Enter...">
        </div>
    </div>
    <table class="address-table">
        <thead>
            <tr>
                <th *ngIf="isAdmin()">User Name</th>
                <th>Address Type</th>
                <th>Division</th>
                <th>District</th>
                <th>Upazila</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of addressList">
                <td *ngIf="isAdmin()">{{null}}</td>
                <td>{{ address.addressType }}</td>
                <td>{{ address.division.name }}</td>
                <td>{{ address.district.name }}</td>
                <td>{{ address.upazila.name }}</td>
                <td>
                    <button class="edit" [routerLink]="'/Addresses/' + address.addressId" matTooltip="Edit"><i
                            class="fas fa-edit"></i></button>

                    <button class="delete" (click)="deleteAddress(address.addressId)" matTooltip="Delete"><i
                            class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination" *ngIf="!removeFlag">
        <button class="pagination" (click)="getPreviousPage()" [disabled]="pageNumber === 0">Previous</button>
        <div *ngFor="let page of getPageArray()">
            <button class="pagination" (click)="goToPage(page)" [disabled]="page === pageNumber">{{ page + 1 }}</button>
        </div>
        <button class="pagination" (click)="getNextPage()" [disabled]="pageNumber === numberOfPages - 1">Next</button>
    </div>
</div>