<div class="container">
    <h2>Address List</h2>
    <div class="filter-section">
        <div>
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" placeholder="Enter...">
        </div>
    </div>
    <table class="address-table">
        <thead>
            <tr>
                <th>Address Type</th>
                <th>Division</th>
                <th>District</th>
                <th>Upazila</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of addressList">
                <td>{{ address.addressType }}</td>
                <td>{{ address.division.name }}</td>
                <td>{{ address.district.name }}</td>
                <td>{{ address.upazila.name }}</td>
                <td>{{ address.isActive }}</td>
                <td>
                    <button class="edit" [routerLink]="'/Addresses/Address/' + address.addressId">Edit</button>
                    <button class="delete" (click)="deleteAddress(address.addressId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button class="pagination" (click)="getPreviousPage()" [disabled]="pageNumber === 0">Previous</button>
        <span>{{ pageNumber + 1 }}</span>
        <button class="pagination" (click)="getNextPage()" [disabled]="pageNumber === numberOfPages - 1">Next</button>
    </div>
</div>
