<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 bg-dark sidebar">
            <ul class="nav flex-column">
                <!-- Menu items with images -->
                <li class="nav-item">
                    <img src="assets/img/admin/roles.png" class="nav-link-img" alt="Menu Item 1">
                </li>
                <li class="nav-item">
                    <img src="assets/img/admin/user.png" class="nav-link-img" alt="Menu Item 2">
                </li>
                <li class="nav-item">
                    <img src="assets/img/admin/academic.png" class="nav-link-img" alt="Menu Item 2">
                </li>
                <li class="nav-item">
                    <img src="assets/img/admin/address.png" class="nav-link-img" alt="Menu Item 1">
                </li>
                <li class="nav-item">
                    <img src="assets/img/admin/content.png" class="nav-link-img" alt="Menu Item 2">
                </li>
                <!-- Add more menu items as needed -->
            </ul>
        </div>
        <!-- Main content -->
        <div class="col-md-9">
            <div class="container">
                <h1 class="text-center">WELCOME TO ADMIN PAGE</h1>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="text-highlight">
                            <h1 class="image-heading">Manage Students, Teachers, and Courses</h1>
                            <p class="lead">This system helps you manage students, teachers, courses, and other school-related activities.</p>
                        </div>
                        <img class="image2" src="assets/img/home/ahp2.jpg" alt="Image 2">
                    </div>
                    <div class="col-md-2">
                        <img class="image1" src="assets/img/home/ahp1.jpg" alt="Image 1">
                        <div class="text-highlight">
                            <h1 class="image-heading">Explore Our Features</h1>
                            <p class="text-muted">Get started by exploring the features or learn more about what we offer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
