/* Custom CSS styles */

.sidebar {
    color: white;
    position: fixed;
    width: 170px;
    height: 100vh; /* Set sidebar height to full viewport height */
    background-color:  #24516e; /* Set background color for the sidebar */
    padding-top: 20px; /* Add some padding at the top */
}
.sidebar .nav-link {
    color: white; /* Set text color to white */
    text-decoration: none; /* Remove underline */
}

.sidebar .nav-link:hover {
    color: white; /* Change text color on hover */
}

.nav-link-img {
    max-width: 55%; /* Set maximum width for the menu item images */
    padding: 10px; /* Add padding to the menu items */
}

.col-md-9 {
    margin-top: 40px;
    margin-left: 165px;
    padding: 20px; /* Add padding to the main content area */
}

.container {
    text-align: center; /* Center align the content */
}

.align-items-center {
    align-items: center; /* Align items vertically centered */
}

.col-md-6 img {
    max-width: 80%; /* Ensure images don't overflow their parent container */
    border-radius: 5px; /* Add some border radius for a nicer look */
}

.col-md-6 img.mb-3 {
    margin-bottom: 20px; /* Add some extra bottom margin to the first image */
}

h1 {
    color: #012536f5; /* Set the heading color */
    font-size: 2.5rem; /* Set the heading font size */
    margin-bottom: 30px; /* Add some bottom margin to the heading */
}

.text-highlight {
    background-color: #427598; /* Set background color for highlighted text */
    padding: 20px; /* Add padding for a nicer look */
    border-radius: 5px; /* Add border radius */
}

.text-highlight p {
    color: #f7f7f7; /* Set text color */
    font-size: 1.25rem; /* Set font size */
}

.text-muted {
    color: #f3faf3; /* Set text color for muted text */
}

.image1 {
    margin-left: 40%;
}

.image2 {
    height: 500px;
    margin-top: 10px;
    margin-right: 40%;
}

.image-heading {
    color: #fff; /* Set text color for image headings */
    font-size: 1.5rem; /* Set font size for image headings */
    margin-bottom: 10px; /* Add some bottom margin */
}

.text-center{
    margin-top: 30px;
}

.sidebar ul {
    list-style-type: none; /* Remove bullet points from all ul elements within the sidebar */
}

.nav-item{
    margin-left: -30px;
}