<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
            <ul class="nav flex-column">
                <!-- Menu items with images -->
                <!-- <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <img src="assets/img/admin/roles.png" class="nav-link-img" alt="Menu Item 1" />
                        Manage Permissions
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <img src="assets/img/admin/geo.png" class="nav-link-img" alt="Menu Item 1" />
                        Manage Geo Locations
                    </a>
                </li> -->
                <li class="nav-item">
                    <a routerLink="/CmsUsers" class="nav-link">
                        <img src="assets/img/admin/user.png" class="nav-link-img" alt="Menu Item 2" />
                        Manage User
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a routerLink="/" class="nav-link">
                        <img src="assets/img/admin/academic.png" class="nav-link-img" alt="Menu Item 2" />
                        Manage Academic Info</a>
                </li> -->
                <li class="nav-item">
                    <a routerLink="/Addresses" class="nav-link">
                        <img src="assets/img/user/address.png" class="nav-link-img" alt="Menu Item 1" />
                        Manage Address</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Contents" class="nav-link"> <img src="assets/img/admin/content.png"
                            class="nav-link-img" alt="Menu Item 2" />
                        Manage Contents</a>
                </li>
                <!-- Add more menu items as needed -->
            </ul>
        </div>
        <!-- Main content -->
        <div class="col-md-9">
            <div class="container">
                <h1 class="text-center">WELCOME {{userName}} </h1>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="text-highlight">
                            <h2 style="color: white">
                                Our administration dashboard where you can effortlessly oversee
                                students and related info
                            </h2>
                            <p>
                                Our comprehensive system empowers you to efficiently oversee
                                students, teachers, courses, and all other school-related
                                activities
                            </p>
                        </div>
                        <img class="image2" src="assets/img/admin/adminpage.jpg" alt="Image 2" />
                        <div class="card">
                            Success is not the key to happiness. Happiness is the key to success. If you love what you
                            are doing, you will be successful. - Albert Schweitzer </div>
                    </div>
                    <div class="col-md-2">
                        <img class="image1" src="assets/img/admin/ahp2.jpg" alt="Image 1" />

                        <div class="text-highlight">
                            <h3 style="color: aliceblue">Explore Our Features</h3>
                            <h3 class="text-muted">
                                Get started by exploring the features or learn more about what
                                we offer.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>