.container {
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #35a4b7;
    border-radius: 5px;
    background-color: rgb(189, 215, 213);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 10px); /* Adjusting for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    cursor: pointer;
}

button {
    width: 103%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#gender{
    width: 611px;
}