<br><br><br>
<div class="container">
    <h1>Registration Form</h1>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" id="userName" name="userName" formControlName="userName" />
            <div style="color: red;">
                <small *ngIf="reactiveForm.get('userName').errors?.['required']">
                    User Name is a required field
                </small>
                <small *ngIf="reactiveForm.get('userName').errors?.['noSpaceAllowed']">
                    User Name can not contain a space
                </small>
            </div>
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password" />
            <div style="color: red;">
                <small *ngIf="reactiveForm.get('password').errors?.['required']">
                    Password is a required field
                </small>
                <small *ngIf="reactiveForm.get('password').errors?.['noSpaceAllowed']">
                    User Name can not contain a space
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" formControlName="name" />
            <div style="color: red;">
                <small *ngIf="reactiveForm.get('name').errors?.['required']">
                    Full Name is a required field
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" formControlName="email" />
            <small style="color: red;" *ngIf="!reactiveForm.get('email').valid && reactiveForm.get('email').touched">
                This email you entered is not a valid email
            </small>
        </div>

        <div class="form-group">
            <label for="mobileNumber">Mobile Number:</label>
            <input type="text" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber" />
            <div style="color: red;">
                <small *ngIf="reactiveForm.get('mobileNumber').errors?.['required']">
                    Mobile Number is a required field
                </small>
                <small *ngIf="reactiveForm.get('mobileNumber').errors?.['noSpaceAllowed']">
                    Mobile Number can not contain a space
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" formControlName="gender">
                <option disabled selected value="">Select Gender</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
                <option value="OTHER">OTHER</option>
            </select>
            <div style="color: red;">
                <small *ngIf="reactiveForm.get('gender').errors?.['required']">
                    Gender is a required field
                </small>
            </div>

        </div>

        <button type="submit">Submit</button>
    </form>
</div>