<div class="container mt-5">
    <br>
    <div>
        <h1 class="text-center">Welcome to Our Content Management System</h1>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="text-highlight">
                <h1  class="image-heading">Manage Students, Teachers, and Courses</h1>
                <p style="color: white;" class="lead">This system helps you manage students, teachers, courses, and other school-related activities.</p>
            </div>
            <img class="image2" src="assets/img/home/dhp2.jpg" alt="Image 2">
            <div class="login">
                <app-login></app-login>
            </div>
        </div>
        <div class="col-md-6">
            <img class="image1" src="assets/img/home/dhp1.jpg" alt="Image 1">
            <div class="text-highlight">
                <h1 class="image-heading">Explore Our Features</h1>
                <p style="color: white;" class="text-muted">Get started by exploring the features or learn more about what we offer.</p>
            </div>
        </div>
    </div>
</div>
