<br><br><br>
<button *ngIf="isUser()"  (click)="toggleUploadForm()" style="margin-left: 80px; background-color: rgb(39, 119, 143); color: white;">
    <i class="fas fa-upload"></i> {{ showUploadForm ? 'Hide Upload Form' : 'Show Upload Form' }}
</button>

<div *ngIf="showUploadForm" class="form">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="mb-3 d-flex align-items-start"> <!-- Added d-flex and align-items-start -->
                <input (change)="onFilechange($event)" class="form-control me-3" type="file" id="formFile"> <!-- Added me-3 class for margin -->
                <button (click)="upload()" type="button" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Contents List</h2>
    <!-- Filter section -->
    <div style="margin-left: 85.5%;" class="filter-section">
        <input type="text" id="searchInput" [(ngModel)]="filterTitle" (ngModelChange)="applyFilter()"
            placeholder="search...">
    </div>

    <table class="content-table">
        <thead>
            <tr>
                <th *ngIf="!isUser()">Author</th>
                <th>Title</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let content of contentList">
                <td *ngIf="!isUser()">{{content.cmsUser.name}}</td>
                <td>{{ content.title }}</td>
                <td>{{ content.type }}</td>
                <td>
                    <button class="edit" (click)="openModal(content.contentId)" matTooltip="Edit"><i class="fas fa-edit"></i></button>
                    <button class="view" (click)="downloadContent(content)" matTooltip="Download"><i class="fas fa-download"></i></button>
                    <button class="delete" (click)="deleteContent(content.contentId)"matTooltip="Delete"><i
                        class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button class="pagination" (click)="getPreviousPage()" [disabled]="pageNumber === 0">Previous</button>
        <div *ngFor="let page of getPageArray()">
            <button class="pagination" (click)="goToPage(page)" [disabled]="page === pageNumber">{{ page + 1 }}</button>
        </div>
        <button class="pagination" (click)="getNextPage()" [disabled]="pageNumber === numberOfPages - 1">Next</button>
    </div>

</div>