<button (click)="toggleUploadForm()" style="margin-left: 60px; background-color: rgb(87, 168, 117); color: white;">
    {{ showUploadForm ? 'Hide Upload Form' : 'Show Upload Form' }}
</button>

<div *ngIf="showUploadForm" class="form">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="mb-3">
                <input (change)="onFilechange($event)" class="form-control" type="file" id="formFile">
            </div>
            <div class="userId">
                <label for="userId" class="form-label">User Id</label>
                <input class="form-control" type="text" id="userId" [(ngModel)]="userId">
            </div>
            <button (click)="upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        </div>
    </div>
</div>

<div class="container">
    <h2>Contents List</h2>
    <!-- Filter section -->
    <div class="filter-section">
        <input type="text" id="searchInput" [(ngModel)]="filterTitle" (ngModelChange)="applyFilter()"
            placeholder="Enter title...">
    </div>

    <table class="content-table">
        <thead>
            <tr>
                <th>Content Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let content of contentList">
                <td>{{ content.contentId }}</td>
                <td>{{ content.title }}</td>
                <td>{{ content.type }}</td>
                <td>
                    <button class="details">Details</button>
                    <button class="delete">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button class="pagination" (click)="getPreviousPage()" [disabled]="pageNumber === 0">Previous</button>
        <span>{{ pageNumber + 1 }}</span>
        <button class="pagination" (click)="getNextPage()" [disabled]="pageNumber === numberOfPages - 1">Next</button>
    </div>
</div>