<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a [routerLink]="'/CmsUsers/CmsUser/' + userId" class="nav-link">
                        <img src="assets/img/user/myprofile.jpg" class="nav-link-img" alt="Menu Item 2" />
                        <span> <br>My Profile</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a routerLink="/CmsUsers" class="nav-link">
                        <img src="assets/img/user/academicinfo.png" class="nav-link-img" alt="Menu Item 2" />
                        Academic Info</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/CmsUsers" class="nav-link">
                        <img src="assets/img/user/address.png" class="nav-link-img" alt="Menu Item 1" />
                        Address</a>
                </li> -->
                <li class="nav-item">
                    <a routerLink="/Contents" class="nav-link"> <img src="assets/img/user/content.png"
                            class="nav-link-img" alt="Menu Item 2" />
                        Contents</a>
                </li>
                <!-- Add more menu items as needed -->
            </ul>
        </div>
        <!-- Main content -->
        <div class="col-md-9">
            <div class="container">
                <h1 class="text-center">WELCOME MR/MRS USER</h1>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="text-highlight">
                            <h2 style="color: white">
                                Our administration dashboard where you can effortlessly oversee
                                students and related info
                            </h2>
                            <p>
                                Our comprehensive system empowers you to efficiently oversee
                                students, teachers, courses, and all other school-related
                                activities
                            </p>
                        </div>
                        <img class="image2" src="assets/img/home/uhp2.jpg" alt="Image 2" />
                        <div class="card">
                            Your work is going to fill a large part of your life, 
                            and the only way to be truly satisfied is to do what you believe is 
                            great work. And the only way to do great work is to love what you do.
                            - Steve Jobs</div>
                    </div>
                    <div class="col-md-2">
                        <img class="image1" src="assets/img/home/uhp1.jpg" alt="Image 1" />
                        <div class="text-highlight">
                            <h3 style="color: aliceblue">Explore Our Features</h3>
                            <h3 class="text-muted">
                                Get started by exploring the features or learn more about what
                                we offer.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>