<br><br><br>
<div class="container">
    <h2>CMS User List</h2>
    <!-- Filter section -->
    <div class="filter-section">
        <div>
            <label for="genderSelect">Gender:</label>
            <select id="genderSelect" [(ngModel)]="filterGender" (change)="applyFilter()">
                <option disabled selected value="">Select Gender</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div>
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" [(ngModel)]="filterEmail" (ngModelChange)="applyFilter()"
                placeholder="Enter email...">
        </div>
    </div>

    <table class="cms-user-table">
        <thead>
            <tr>
                <th (click)="sortData('userName')">User Name</th>
                <th (click)="sortData('mobileNumber')">Mobile Number</th>
                <th (click)="sortData('email')">Email</th>
                <th (click)="sortData('name')">Full Name</th>
                <th (click)="sortData('gender')">Gender</th>
                <th>Actions</th> <!-- Added column for actions -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of cmsUserList">
                <td>{{ user.userName }}</td>
                <td>{{ user.mobileNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.gender }}</td>
                <td>
                    <button class="details" [routerLink]="'/CmsUsers/CmsUser/' + user.cmsUserId" matTooltip="Details"><i
                            class="fas fa-info-circle"></i></button>
                    <button class="delete" (click)="deleteCmsUser(user.cmsUserId)" matTooltip="Delete"><i
                            class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button class="pagination" (click)="getPreviousPage()" [disabled]="pageNumber === 0">Previous</button>
        <div *ngFor="let page of getPageArray()">
            <button class="pagination" (click)="goToPage(page)" [disabled]="page === pageNumber">{{ page + 1 }}</button>
        </div>
        <button class="pagination" (click)="getNextPage()" [disabled]="pageNumber === numberOfPages - 1">Next</button>
    </div>

</div>