<br><br><br>
<div class="container">
    <form [formGroup]="cmsUserForm" (ngSubmit)="onSubmit()" class="form">
        <h1 style="margin-left: 170px;">Edit User Form</h1>
        <div class="form-group">
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" formControlName="userName">
            <div style="color: red;">
                <small *ngIf="cmsUserForm.get('userName').errors?.['required']">
                    User Name is a required field
                </small>
                <small *ngIf="cmsUserForm.get('userName').errors?.['noSpaceAllowed']">
                    User Name can not contain a space
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="mobileNumber">Mobile Number:</label>
            <input type="text" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber">
            <div style="color: red;">
                <small *ngIf="cmsUserForm.get('mobileNumber').errors?.['required']">
                    Mobile Number is a required field
                </small>
                <small *ngIf="cmsUserForm.get('mobileNumber').errors?.['noSpaceAllowed']">
                    Mobile Number can not contain a space
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" formControlName="email">
            <small style="color: red;" *ngIf="!cmsUserForm.get('email').valid && cmsUserForm.get('email').touched">
                This email you entered is not a valid email
            </small>
            <small style="color: red;" *ngIf="cmsUserForm.get('name').errors?.['required']">
                Gender is a required field
            </small>
        </div>

        <div class="form-group">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" formControlName="name">
            <small style="color: red;" *ngIf="cmsUserForm.get('name').errors?.['required']">
                Full Name is a required field
            </small>
        </div>

        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" formControlName="gender">
                <option disabled selected value="">Select Gender</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
                <option value="OTHERS">OTHERS</option>
            </select>
            <small style="color: red;" *ngIf="cmsUserForm.get('name').errors?.['required']">
               Gender is a required field
            </small>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>